.fonte-especial{
    font-family: 'pacifico';
    
}
.cor.especial{
    color: brown !important;
}
.imagem-carrosel{
    object-fit: cover;
    object-position: 0 80%;
    height: 300px;
    
}
.imagem-carrosel-dois{
    object-fit: cover;
    height: 300px;
}
.card-largura{
    max-width: 18rem;
}
.card-posicao-imagem  {
    object-fit: cover;
    height: 390px;
}
.img-carrosel{
    object-fit: cover;
    height: 300px;
}
.row{
    background-color: #0b0b0b;
}
footer{
    background-color: #E6DFD9;
}
.img{
    height: 300px;
    width: 300px;
    align-items: center;
    margin: 10px 0px 0px 45px;
}
.sup{
    text-align: center;
    padding: 0px 15px 0px 15px;
}
.titulo{
    background-color: lightgray;
}
.sup1{
    text-align: center;
    padding: 0px 15px 0px 15px;
    color: rgb(255, 255, 255);
}
.final{
    width: 30px;
    height: 30px;
    margin: 0px 40px 40px 0px;
    
}
footer{
    background-color: black;
    align-items: center;
}
.end{
    text-align: center;
}
.finish{
    text-align: center;
    color: white;
    font-size: 10px;
}
.contato{
    background-color: rgb(224, 241, 241);
}
.conta{
    font-family: 'pacifico';
    text-align: center;
    color: white;
    
}
input{
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}
input[type=text]{
    height: 100px;
    margin-bottom: 8px;
}
.contact{
    background-color:#0b0b0b;
}
label{
    color: white;
}
.botao{
    background-color:rgb(11, 94, 215);
    color: white;
    border: none;
    width: 100px;
    

}



